@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Fredoka+One&family=Luckiest+Guy&family=Nanum+Gothic&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Luckiest Guy', cursive;
}

body,
.btn{
    background: #19191a;
}

.heading,
.choices,
.btn,
.game-info{
    color: white;
}

.heading,
main,
.container,
.choices,
.buttons{
    display: flex;
}

.heading,
.buttons,
.choices{
    justify-content: space-around;
}

.choices > div > p,
.game-info{
    text-align: center;
}

.choices > div > p,
.btn > p{
    font-size: 1.25rem;
}

.choices,
.btn,
.game-info,
.heading{
    -webkit-text-stroke: 1px purple;
}

.heading > *{
    padding: 40px;
}

.heading{
    width: 100vw;
    height: 15vh;
    align-items: center;
    text-shadow: 0 0 7px purple,
                0 0 12px purple,
                0 0 17px purple,
                0 0 22px purple,
                0 0 27px purple,
                0 0 32px purple,
                0 0 37px purple;
    border-image: linear-gradient(to right, purple, coral) 1;
    border-style: solid;
    border-width: 0 0 5px 0;    
}

h1{
    font-size: 3.5rem;
}

h2{
    margin-top: 10px;
}

.feedback{
    margin: 0;
}

.game-info > *{
    padding: 10px;
}

main{
    justify-content: center;
    height: 75vh;
}

.container{
    height: 100%;
    width: 40vw;
    flex-direction: column;
    justify-content: space-between;
}

.game-interface{
    margin-top: 30px;
}

.game-info{
    text-shadow: 0 0 5px purple,
    0 0 10px purple,
    0 0 15px purple,
    0 0 20px purple; 
    margin-top: 40px;
}

.winner,
.choices > p{
    font-size: 2.75rem;
}

.feedback{
    font-size: 2rem;
}

.buttons{
    padding: 35px;
}

.btn{
    border: 7px solid purple;
    box-shadow: 0 0 30px purple;
    border-radius: 20px;
    padding: 20px 15px 0px 15px;   
    transition: 0.4s;
}

.btn:hover{
    scale: 1.1;
    cursor: grab;
    color: coral;
    border: 3px solid coral;
    box-shadow: 0 0 5px coral,
    0 0 10px coral,
    0 0 15px coral,
    0 0 20px coral,
    0 0 25px coral;
    -webkit-text-stroke: 1px purple;
}

.btn:active{
    color: gold;
    border: 3px solid gold;
    box-shadow: 0 0 5px gold,
    0 0 10px gold,
    0 0 15px gold,
    0 0 20px gold,
    0 0 25px gold,
    0 0 30px gold;
    transition: 0.05s;
}

img{
    aspect-ratio: 1/1;
    width: 120px;
    filter: invert(100%);
}