@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Fredoka+One&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    overflow: hidden;
    font-family: 'Arvo', serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka One', cursive;
}

body{
    margin: 0;
    padding: 0;
}

.heading{
    width: 100vw;
    height: 15vh;
    background: #1b1b21;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gold;
    text-shadow: 4px 4px 2px purple;
}

h1{
    font-size: 3.15rem;
}

img{
    aspect-ratio: 1/1;
    width: 120px;
}