@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Fredoka+One&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    overflow: hidden;
    font-family: 'Arvo', serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka One', cursive;
}

body{
    margin: 0;
    padding: 0;
}

.heading{
    width: 100vw;
    height: 20vh;
    background: #19191a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gold;
    text-shadow: 4px 4px 2px purple;
    border-image: linear-gradient(to right, gold, purple) 1;
    border-width: 0 0 5px 0;
    border-style: solid;
}

h1{
    font-size: 3.75rem;
}


img{
    aspect-ratio: 1/1;
    width: 120px;
}